#!/usr/bin/env bash

# Source: https://gist.github.com/reillysiemens/ac6bea1e6c7684d62f544bd79b2182a4

readonly hash_algo="sha256"
readonly out_dir="/root/module-signing"
readonly key="/root/module-signing/MOK.priv"
readonly x509="/root/module-signing/MOK.der"

readonly name="{{ ansible_hostname }}"
readonly reset="$(tput sgr0)"
readonly unamer="$(uname -r)"
readonly sign_file="/usr/src/kernels/${unamer}/scripts/sign-file"

green() { local string="${1}"; echo "$(tput setaf 2)$(tput bold)${string}${reset}"; }
blue() { local string="${1}"; echo "$(tput setaf 4)$(tput bold)${string}${reset}"; }
log() { local string="${1}"; echo "[$(blue "${name}")] ${string}"; }

test -d "${out_dir}" || mkdir "${out_dir}"

if [[ ! -f "${out_dir}/MOK.priv" ]] ; then
    openssl \
        req \
        -new \
        -x509 \
        -newkey \
        rsa:2048 \
        -keyout "${out_dir}/MOK.priv" \
        -outform DER \
        -out "${out_dir}/MOK.der" \
        -days 36500 \
        -subj "/CN=${name}/"

    chmod 0600 "${out_dir}/MOK.priv" "${out_dir}/MOK.der"

    mokutil --import "${out_dir}/MOK.der"

    echo "Please reboot to Enroll MOK ..."
    exit 0
fi

[[ -z "${KBUILD_SIGN_PIN}" ]] && read -srp "Passphrase for ${key}: " KBUILD_SIGN_PIN
export KBUILD_SIGN_PIN

echo ""

for module in "$(dirname "$(modinfo -n vboxdrv)")"/*.ko; do
  module_name="$(basename "${module/.ko//}")"
  log "Signing $(green "${module}") ..."
  ${sign_file} "${hash_algo}" "${key}" "${x509}" "${module}"
  log "Loading $(green "${module_name}") ..."
  modprobe "${module_name}"
done
